.DS_Store
todo
emacs/*~
emacs/elpa
emacs/tramp
emacs/transient
emacs/auto-save-list
neovim/lazy-lock.json
home_cfgs/zsh/.zcompdump
home_cfgs/zsh/.zsh_history
home_cfgs/zsh/.histfile
home_cfgs/zsh/.zcompcache
home_cfgs/zsh/.zsh_sessions
home_cfgs/zsh/self_env.zsh
home_cfgs/zsh/.zcompdump.*
xdg_config_cfgs/siyuan/app.log
xdg_config_cfgs/siyuan/port.json
xdg_config_cfgs/siyuan/windowState.json
xdg_config_cfgs/siyuan/announcement.json
# 这个 zsh 目录是一个软链接
xdg_config_cfgs/zsh
xdg_config_cfgs/raycast/config.json
