.DS_Store
todo
*.bak

emacs/*~
emacs/elpa
emacs/tramp
emacs/transient
emacs/auto-save-list

xdg_config_cfgs/nvim/lazy-lock.json

xdg_config_cfgs/zsh/.zcompdump*
xdg_config_cfgs/zsh/.zsh_history
xdg_config_cfgs/zsh/.histfile
xdg_config_cfgs/zsh/.zcompcache
xdg_config_cfgs/zsh/.zsh_sessions
xdg_config_cfgs/zsh/self_env.zsh
xdg_config_cfgs/zsh/eval_code

xdg_config_cfgs/raycast/
xdg_config_cfgs/siyuan/
xdg_config_cfgs/iterm2/
xdg_config_cfgs/htop/
xdg_config_cfgs/fastfetch/

xdg_config_cfgs/lazygit/macos_lazygit_config_path
